<div class="panel panel-primary">
    <div class="panel-heading">Add Client</div>
    <div class="panel-body">
    	<div class="row">
            <!-- company_name -->
            <div class="col-xs-4 col-sm-2 col-md-4">
                <!--<label for="input">Client Name</label><lable style="color: red"><b> *</b></label>-->
                <%= form_group_for f, :company_name, label: true  do %>
                    <div  class="form-group">
                        <%= f.text_field :company_name, maxlength: 50, class: "form-control", placeholder: 'Client Name' %>
                            <span id="tenpo_code_errmsg" class="form_err_message"></span>
                    </div>
                <% end %>    
            </div>
                            
            <!-- company_owner_name -->
            <div class="col-xs-8 col-sm-2 col-md-6">
                <%= form_group_for f, :company_owner_name, label: true  do %>
                <!--<label for="input">Client Owner Name</label><lable style="color: red"><b> *</b></label>-->
                    <div  class="form-group">
                        <%= f.text_field :company_owner_name, maxlength: 50, autocomplete: "off", class: "form-control",placeholder: "Client Owner Name" %>
                    </div>
                <% end %>    
            </div>
            
            <!-- company_pan_no -->
            <div class="col-xs-8 col-sm-2 col-md-6">
                <%= form_group_for f, :company_pan_no, label: true  do %>
                <!--<label for="input">Client PAN NO</label><lable style="color: red"><b> *</b></label>-->
                    <div  class="form-group">
                        <%= f.text_field :company_pan_no, maxlength: 12, autocomplete: "off", class: "form-control",placeholder: "Client PAN NO" %>
                    </div>
                <% end %>
            </div>
            
            <!-- company_establish_dt -->
            <div class="col-xs-8 col-sm-2 col-md-6">
                <%= form_group_for f, :company_establish_dt, label: true  do %>
                    <!--<label for="input">Establish Date</label><lable style="color: red"><b> *</b></label>-->
                    <div  class="form-group">
                        <%= f.text_field :company_establish_dt, maxlength: 10, autocomplete: "off", class: "form-control",placeholder: "Establish Date" %>
                    </div>
                <% end %>    
            </div>
            
            <!-- add new GSTID -->
            <div class="col-xs-8 col-sm-2 col-md-4">
                <!--<label for="input">GSTIN Details</label>-->
                <div  class="form-group">
                    <%#= f.fields_for :gstins do |builder| %>
                        <%#= render 'gstin_fields', f: builder %>
                    <%# end %>  
                    
                    <%= f.fields_for :gstins do |o| %>
                        <%= form_group_for o, :gstin_no, label: true  do %>
                            <div class="form-group">
                                <%= o.text_field :gstin_no, class: 'form-control', placeholder: 'GSTIN' %>
                            </div>
                        <% end %>
                    <% end %>
                </div>
                <%= link_to_add_fields "Add GSTIN", f, :gstins %>
            </div>
        </div>
    </div>
</div>
<%#= hidden_field_tag 'update_id', current_m_user_login.user_id %>
<%= javascript_include_tag 'custom/company_master.js', 'data-turbolinks-track' => true %>