<section id="download">
    <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-12 col-md-5 col-md-offset-3 col-xs-offset-1 well signin">
        <h2>Change your password</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%#= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
        
          <%= f.label :password, "New password" %>
          <%= form_group_for f, :password, label: false  do %>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="fa fa-key fa-lg fa-fw"></span>
                </span>
                <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
              </div>
            </div>  
          <% end %>
          
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= form_group_for f, :password_confirmation, label: false  do %>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="fa fa-key fa-lg fa-fw"></span>
                </span>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password Confirmation' %>
              </div>
            </div>  
          <% end %>
        
          <div class="actions">
            <%= f.submit "Change my password", class: 'btn btn-primary btn-block btn-lg' %>
          </div>
        <% end %>
        
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>  
<%= stylesheet_link_tag    'custom/signin.css', 'data-turbolinks-track' => true %>