<section id="download">
  <div class="container">
    <div class="row">
      <div class="portlet light " id="form_wizard_1">
      	<div class="portlet-title">
      	    <div class="caption">
      	        <i class=" icon-layers font-red"></i>
      	        <span class="caption-subject font-red bold uppercase"> Client Add -
                  <span class="step-title"> Step 1 of 3 </span>
      	        </span>
      	    </div>
      	</div>
      
      	<div class="portlet-body form">
              <!--<form class="form-horizontal" action="#" id="submit_form" method="POST">-->
              <%#= form_for @company_master, :url => {:action => 'create'}, :html => { :id => 'submit_form', :class =>"form-horizontal"} do |f| %>
                  <div class="form-wizard">
                      <div class="form-body">
                          <ul class="nav nav-pills nav-justified steps">
                              <li>
                                  <a href="#tab1" data-toggle="tab" class="step">
                                      <span class="number"> 1 </span>
                                      <span class="desc">
                                          <i class="fa fa-check"></i> Business Details </span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#tab2" data-toggle="tab" class="step active">
                                      <span class="number"> 2 </span>
                                      <span class="desc">
                                          <i class="fa fa-check"></i> GSTIN Details </span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#tab3" data-toggle="tab" class="step">
                                      <span class="number"> 3 </span>
                                      <span class="desc">
                                          <i class="fa fa-check"></i> Confirm </span>
                                  </a>
                              </li>
                          </ul>
                          <div id="bar" class="progress progress-striped" role="progressbar">
                              <div class="progress-bar progress-bar-success"> </div>
                          </div>
                          <div class="tab-content">
                              <div class="alert alert-danger display-none">
                                  <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below. </div>
                              <div class="alert alert-success display-none">
                                  <button class="close" data-dismiss="alert"></button> Your form validation is successful! </div>
                              <div class="tab-pane active" id="tab1">
                                  <h3 class="block">Provide details of your Business</h3>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">Legal Name of Business(as per PAN)
                                      <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                      <%= f.text_field :client_name, class: "form-control fields", placeholder: "Client Name" %>
                                      <!--<span class="help-block"> Provide your client name </span>-->
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">Legal Name of Business(as per current tax Act)
                                    <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                    <%= f.text_field :owner_name, class: "form-control fields", placeholder: "Owner Name" %>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">Business Owner Email ID
                                      <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                      <%= f.text_field :owner_email, class: "form-control fields", placeholder: "Email ID" %>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">PAN of the Business
                                      <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                      <%= f.text_field :client_pan_no, class: "form-control fields",  placeholder: "PAN NO", size: 13 %>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">Business Establish Date
                                      <!--<span class="required"> * </span>-->
                                    </label>
                                    <div class="col-md-4">
                                      <%= f.text_field :establish_dt, class: "form-control fields", size: 10, placeholder: "Establish Date" %>
                                    </div>
                                  </div>
                              </div>
                              <div class="tab-pane" id="tab2">
                                  <h3 class="block">Provide your GSTIN details</h3>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">GST Username
                                      <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <%= f.text_field :gst_username, class: "form-control fields", size: 50, placeholder: "GST Username" %>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">GST Password
                                      <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <%= f.password_field :gst_password, class: "form-control fields", size: 50, placeholder: "GST Password" %>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">GSTIN
                                      <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                      <%#= f.fields_for :gstins do |o| %>
                                      <%#= flash[:alert] = "#{gstins.count}" %>
                                      <%= f.nested_fields_for :gstins do |o| %>
                                        <div class="form-group">  
                                          <div class="input-group">
                                            <%#= form_group_for o, :gstin_no, label: false  do %>
                                              <%= o.text_field :gstin_no, class: 'form-control fields', placeholder: 'GSTIN' %>
                                        	     <span class="input-group-addon">
                                                <%= o.remove_nested_fields_link data: { confirm: 'Do you want to delete?' } do %>
                                          		    <i class="fa fa-trash-o fa-2x" style="color:red"></i>
                                        	      <% end %>
                                        	     </span>
                                        	   <%# end %>    
                                          </div>
                                        </div>    
                                        <%# end %>
                                      <% end %>
                                      <%#= link_to_add_fields "Add GSTIN", f, :gstins %>
                                      <%= f.add_nested_fields_link :gstins, 'Add GSTIN' %>
                                    </div>
                                  </div>
                              </div>
                              <div class="tab-pane" id="tab3">
                                  <h3 class="block">Confirm client details</h3>
                                  <h4 class="form-section">Client Details</h4>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">Client Name:</label>
                                    <div class="col-md-4">
                                      <p class="form-control-static" data-display="client[client_name]"> </p>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">Owner Name:</label>
                                    <div class="col-md-4">
                                      <p class="form-control-static" data-display="client[owner_name]"> </p>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">Email:</label>
                                    <div class="col-md-4">
                                      <p class="form-control-static" data-display="client[owner_email]"> </p>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">PAN NO:</label>
                                    <div class="col-md-4">
                                      <p class="form-control-static" data-display="client[client_pan_no]"> </p>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">Establish Date:</label>
                                    <div class="col-md-4">
                                      <p class="form-control-static" data-display="client[establish_dt]"> </p>
                                    </div>
                                  </div>
                                  <h4 class="form-section">GSTIN Details</h4>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">GST Username:</label>
                                    <div class="col-md-4">
                                      <p class="form-control-static" data-display="client[gst_username]"> </p>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">GST Password:</label>
                                    <div class="col-md-4">
                                      <p class="form-control-static" data-display="client[gst_password]">********* </p>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">GSTIN:</label>
                                    <div class="col-md-4">
                                      <p class="form-control-static" data-display="client[gstins_attributes][0][gstin_no]"> </p>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-actions">
                        <div class="row">
                          <div class="col-md-offset-3 col-md-9">
                            <a href="javascript:;" class="btn default button-previous" id= "back_btn">
                              <i class="fa fa-angle-left" ></i> Back </a>
                              <a href="javascript:;" class="btn btn-outline green button-next" id="next_btn"> Continue
                                <i class="fa fa-angle-right"></i>
                              </a>
                                <%= f.submit("Submit", class:"btn green button-submit", data: {:confirm => msg('Add'), :disable_with => 'Adding'}) %>
                                <!-- <a href="javascript:;" class="btn green button-submit"> Submit -->
                                <i class="fa fa-check"></i>
                              </a>
                          </div>
                        </div>
                      </div>
                      
                  </div>
              <%# end %>
          </div>
      </div>
    </div>
  </div>  
</section>  

<%= stylesheet_link_tag    'custom/components.min.css', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'custom/plugins.min.css', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'custom/app.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/form-wizard.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/jquery.bootstrap.wizard.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/select2.full.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/additional-methods.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/client.js', 'data-turbolinks-track' => true %>