<div class="container">
    <div class="jumbotron">
        <h1>Welcome Page...</h1>
        <p>Create a new account for your business</p>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6">
                <div class="form_group">
                    <%= link_to "Create Account", new_company_master_path, class: 'btn btn-primary btn-lg' %>
                </div>                    
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-6 col-sm-8 col-lg-6">
                <div class="form_group">
                    <div class="form-inline">
                        <%= form_tag(:action => 'find_team') do |f| %>
                            <%= text_field_tag 'team_name', @team_name, class: "form-control btn-lg", placeholder: "Team Name" %>
                            <%= button_tag(type: "submit", class: "btn btn-default") do %>
                                <i class="fa fa-search" aria-hidden="true"></i> Find Team
                            <% end %>
                            <%= flash_messages layout_flash: false %>
                        <% end %>
                    </div>    
                </div>
            </div>    
        </div>
    </div>
</div>

<div class="form-group">
    <div class="form-inline">
        <%#= text_field_tag 'team_name1', @team_name1, class: "form-control btn-lg", placeholder: "Team Name" %>
        <%#= link_to welcome_find_team_path, class: 'btn btn-default btn-lg' do %>
        <!--  <span class="glyphicon glyphicon-search"></span> Find Team  -->
        <%# end %>
    </div> 
</div>