<%= form_tag payments_path, id: 'card-details' do |f| %>
<section id="download">
  <div class="container">
    <div class="row">  
      <div class="col-md-6 col-md-offset-3 well">
        <h1>Payment Details</h1>
        <div class="payment-errors"></div>
        <div>
          <label for="card-number">Card Number:</label>
          <input id="card-number" type="text" data-stripe="number" class="form-control card__input card__input_number" name="card_name" placeholder="9999 9999 9999 9999" />
           <!--pattern="[0-9]{14,23}"-->
        </div>
      
        <div>
          <label for="card-exp-month">Card Expiry Month:</label>
          <input id="card-exp-month" type="text" data-stripe="exp_month" class="form-control" placeholder="MM" />
          <%#= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card-exp-month"} %>
          <%#= select_month nil, {add_month_numbers_true: true}, date: {name: nil, id: "card-exp-month", class: "form-control", stripe: "exp_month"}  %>
        </div>
      
        <div>
          <label for="card-exp-year">Card Expiry Year:</label>
          <input id="card-exp-year" type="text" data-stripe="exp_year" class="form-control" placeholder="YYYY" />
          <%#= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card-exp-year"}%>
          <%#= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card-exp-year", class: "form-control"}%>
        </div>
      
        <div>
          <label for="card-cvc">CVC:</label>
          <input id="card-cvc" type="text" data-stripe="cvc" class="form-control" placeholder="CVC" />
        </div>
      
        <div>
          <label for="payment-type">Payment Type:</label>
          <select id="payment-type" name="payment_type" class="form-control" >
            <option value="deposit">¥20 Deposit</option>
            <option value="subscription">Monthly subscription, ¥9.97</option>
          </select>
        </div>
        <div>
          <input type="submit" value="Pay Now" class="btn btn-success btn-block btn-lg" />
        </div>
      </div>
    </div>
  </div>
</section>  
<% end %>
<%= stripe_javascript_tag %>
<%= javascript_include_tag 'custom/payments.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/vanilla-masker.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/vanilla-masker.js', 'data-turbolinks-track' => true %>

<script>
$(function(){

// #maskNumber
	VMasker(document.getElementById("card-number")).maskNumber();
	VMasker(document.getElementById("card-exp-month")).maskNumber();
	VMasker(document.getElementById("card-exp-year")).maskNumber();
	VMasker(document.getElementById("card-cvc")).maskNumber();
	
	// #maskPattern
  VMasker(document.getElementById("card-number")).maskPattern('9999 9999 9999 9999');
	VMasker(document.getElementById("card-exp-month")).maskPattern('99');
	VMasker(document.getElementById("card-exp-year")).maskPattern('9999');
	VMasker(document.getElementById("card-cvc")).maskPattern('999');
	
// 	const cardNumber = document.getElementById('card__input_number');
//   cardNumber.addEventListener('input', (event) => {
//     const number = event.target.value;
  
//     if (number.length >= 14) {
//       const isLuhnCheckPassed = luhn(number.split(' ').join(''));
//       cardNumber.classList.toggle('card__input_invalid', !isLuhnCheckPassed);
//       cardNumber.classList.toggle('card__input_valid', isLuhnCheckPassed);
//     } else {
//       cardNumber.classList.remove('card__input_invalid', 'card__input_valid');
//     }
//   });
});
</script>