<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en">
  <title>OneTaxGST | <%= content_for?(:title) ? yield(:title) : "OneTaxGST" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render(:partial => "partials/notify") %>
</head>
<!--<body class="remodal-bg">-->
<body>

<header class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <%#= link_to 'dummy', root_path, class: 'navbar-brand' %>
      <% if get_subdomain.nil? %>
        <%= link_to 'dummy', root_path, class: 'navbar-brand' %>
      <% else %>
        <%= link_to get_subdomain.upcase, root_path, class: 'navbar-brand' %>
      <% end%>  
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav pull-right">  
        <% if user_signed_in? %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-user-o" aria-hidden="true"></i> <%= current_user.username %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to new_user_path do %>
                  <i class="fa fa-cog" aria-hidden="true"></i> Setting
                <% end %>
              </li>
              <li><%= link_to new_payment_path do %>
                  <i class="fa fa-credit-card" aria-hidden="true"></i> Payment Setting
                <% end %>
              </li>
              <li><%= link_to edit_user_registration_path do %>
                  <i class="fa fa-key" aria-hidden="true"></i> Password Update
                <% end %>
              </li>
              <li><%= link_to destroy_user_session_path, method: :delete, data: { confirm: 'Do you want to sign out?' } do %>
                  <i class="fa fa-sign-out" aria-hidden="true"></i> Sign out
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%#= link_to 'Log In', new_user_session_path %></li>
          <li><%#= link_to 'Sign Up', new_user_registration_path %></li>
        </ul>
      <% end %>  
    </div>
  </nav>
</header>

<div class="container">
  <%# flash.each do |name, msg| %>
    <%#= content_tag :div, msg, :id => "flash_#{name}" %>
  <%# end %>

  <%#= flash_messages if show_layout_flash? %>
  
  <div class="row">
    <%= yield %>
  </div>  
</div>  
<!--<div class="remodal" data-remodal-id="modal">-->
<!--  <button data-remodal-action="close" class="remodal-close"></button>-->
<!--  <h1>Remodal</h1>-->
<!--  <p>-->
<!--    Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.-->
<!--  </p>-->
<!--  <br>-->
<!--  <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>-->
<!--  <button data-remodal-action="confirm" class="remodal-confirm">OK</button>-->
<!--</div>-->
</body>
</html>
